JWT_SECRET=your_secret_key

ORDER_GRPC_PORT=50051
SPOT_GRPC_PORT=50052

# postgres
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_PORT=5433

ORDER_DB=order_db
SPOT_DB=spot_db

ORDER_DB_URI=postgres://your_user:your_password@localhost:5433/order_db?sslmode=disable
SPOT_DB_URI=postgres://your_user:your_password@localhost:5433/spot_db?sslmode=disable

# redis
EXTERNAL_REDIS_PORT=6379

# metrics
OTEL_GRPC_PORT=4317
OTEL_HEALTHCHECK_PORT=13133

PROMETHEUS_METRICS_PORT=8888
PROMETHEUS_PORT=9090

ORDER_METRICS_PORT=9091
SPOT_METRICS_PORT=9092

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=your_user
GRAFANA_ADMIN_PASSWORD=your_password

# jaeger
JAEGER_UI_PORT=16686
