services:

  postgres:
    image: postgres:17.0-alpine3.20
    container_name: mypostgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${ORDER_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./spotService/migrations/db_spot:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test:
        "CMD-SHELL pg_isready -U ${POSTGRES_USER} -d ${ORDER_DB} && pg_isready -U ${POSTGRES_USER} -d ${SPOT_DB}"
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped
    networks:
      - microservices-net

  order-service:
    depends_on:
      postgres:
        condition: service_healthy

  spot-service:
    depends_on:
      postgres:
        condition: service_healthy

networks:
  microservices-net:
    name: microservices-net
    driver: bridge

volumes:
  pgdata:
